{% extends 'base.html' %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Goodlens - A Neighborhood Watch </h1>
        <p class="lead text-muted"> Goodlens is a neighborhood watch program developing for kansas city communities under National Science Foundation program. 
            In this program, an extensive understanding of a given locality was aimed with help of state of the art deep learning and Satilite Imaging. Primary objective 
            is to study the abandment of houses in any area. With data from various sources, an quantitative approch to understand a locality is explored. </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

{% endblock content %}
