{% extends 'base.html' %}

{% block content %}
<main>

  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

   <!-- Search bar with forms and post request to send data backend -->

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <form method="GET">
        <div class="row text-center">
          <div class="col-lg-2"></div>
          <div class="col-lg-6 pr-0">
            <div class="form-group" >
              <input type="text" class="form-control" name="address" aria-describedby="address" placeholder="Enter address">
            </div>
           
          </div>
          <div class="col-lg-2"> <input type="submit" class="btn btn-primary" value="Search" /></div>
        </div>
     
        </form>
    </div>
  </div>
  

  <!-- Bring map into the picture -->

  <br> 
  <br>
  <br>

  


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        {% if locationData %}
        <iframe src="//maps.google.com/maps?q={{locationData.latitude}},{{locationData.longitude}}&z=15&output=embed" allowfullscreen="true" style="width: 100% !important; height: 400px;"></iframe>
       {% endif %}
      
       </div> 
        <div class="col-lg-7">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              years
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for year in availableYears %}
              <a class="dropdown-item" href="#">{{year}}</a>
              {% endfor %}
            </div>
          </div>
          <div class="row">
            {% for year in final_data %}
            
            <div class="col-lg-4">
              <div class="card"  >
                <img class="card-img-top" src="{{year.img_url}}" alt="Card image cap" height="300">
                </div>
              </div>
          {% endfor %}
          </div>
        
        </div>
    </div>
  </div>
 
  

  <br>
  <br>
  <br>
  <br>
  <br>


 
</main>
{% endblock content %}